always-auth=true
email=jhon.moofarrif@segurosbolivar.com
registry=https://segurosbolivar.jfrog.io/artifactory/api/npm/bolivar-npm-core-web-kit-components-lib-dev-virtual/
//segurosbolivar.jfrog.io/artifactory/api/npm/bolivar-npm-core-web-kit-components-lib-dev-virtual/:_auth="amhvbi5tb29mYXJyaWZAc2VndXJvc2JvbGl2YXIuY29tOkFLQ3A4cFI1clZiQ3pvTUN0VjlWZ3haMkFuS3hvNDlFTVdQVExYREVudkt5b29BcW54eFRSSDFXd3NOOW80czNQR2FBcUhhMWs="

 @fortawesome:registry=https://npm.fontawesome.com/
 //npm.fontawesome.com/:_authToken=4FA306DB-AC11-45C0-8A77-5696AD05FFA8