<h1 class="lib-tb-h1"> Angular 17 + techblock </h1>
<hr>

<section>
  
  <h5 class="lib-tb-h5 lib-tb-bold">Átomos</h5>

  <br>
  <span class="lib-tb-body">Texto de Body</span>
  <br>
  <lib-tb-alert [custom]="customAlert"></lib-tb-alert>
  <br>
  <lib-tb-button [custom]="customBtn"></lib-tb-button>
  <br>
  <br>
 


</section>

<hr>

<section>
  <h5 class="lib-tb-h5">Molesculas</h5>
  <lib-tb-stepper [custom]="customStepper"></lib-tb-stepper>

  <br><br>
  <lib-tb-card [custom]="customCard">
    <ng-template libTbTemplate="contentTop">
      <div class="custom-contentTop">
        ContentTop Template
      </div>
    </ng-template>
    <ng-template libTbTemplate="content">
      <div class="custom-content">
        Content Template
      </div>
    </ng-template>
    <ng-template libTbTemplate="footer">
      Footer Template
    </ng-template>
  </lib-tb-card>

  
</section>

<hr>
<section>
  <h5 class="lib-tb-h5">Organismos</h5>
</section>

<router-outlet />